<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>eBooksStoreAdminPaperQualityServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminPaperQualityServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet manages users of application eBooksStore and implements actions of eBooksStoreAdminUsersPage.JSP</description>
        <servlet-name>eBooksStoreAdminUsersServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Main servlet serves main JSP of applications.</description>
        <servlet-name>eBooksStoreMainServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreMainServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet manages users roles and serves actions from eBooksStoreAdminUserRolesPage.JSP</description>
        <servlet-name>eBooksStoreAdminUserRolesServlet</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminUserRolesServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Serves index.jsp page</description>
        <servlet-name>index</servlet-name>
        <servlet-class>servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eBooksStoreAdminEBooks</servlet-name>
        <servlet-class>servlets.eBooksStoreAdminEBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminPaperQualityServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminPaperQualityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminUsersServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreMainServlet</servlet-name>
        <url-pattern>/eBooksStoreMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminUserRolesServlet</servlet-name>
        <url-pattern>/eBooksStoreAdminUserRolesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eBooksStoreAdminEBooks</servlet-name>
        <url-pattern>/eBooksStoreAdminEBooks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
