/*
Copyright gheorgheaurelpacurar
*/
/* 
    Author     : gheorgheaurelpacurar
    Copyright  : gheorgheaurelpacurar
*/
body {
    background:url(../img/eBooksStoreBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Verdana";
    font-size: 12px;
    color: whitesmoke;
    text-align: center; 
}

h3 {
    color: whitesmoke; 
    text-align: center;
}

table{
    border-spacing: 0 0px;
    background-color: whitesmoke;
}

.tablecentered{
    border-spacing: 0 0px;
    margin-left:auto; 
    margin-right:auto;
    background-color: whitesmoke;    
}
.tablewithborder {
    border-width: 1px;
    border-spacing: 0 0px;
    border-radius: 0.5em;
    background-color: whitesmoke;
    font-size: 12px;
    border-style: solid;
    border-color: darkgrey;
}
.tablecenterdwithborder {
    border-width: 1px;
    border-spacing: 0 0px;
    border-radius: 0.5em;
    margin-left:auto; 
    margin-right:auto;
    background-color: whitesmoke;
    font-size: 12px;
    border-style: solid;
    border-color: darkgrey;
}
.tablewithoutborder{
    border-spacing: 0 0px;
    font-size: 12px;
}
.thc{
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    background-color: lightgrey;
    color: black;
}
td{
    text-align: left;
    vertical-align: top;
}
td.tdl td {
    text-align: left;
    vertical-align: top;
}
.tdc{
    text-align: center;
    vertical-align: middle;
    color: black;
}

.tdcred{
    text-align: center;
    vertical-align: middle;
    background: indianred;
    color: whitesmoke;
}
.tdcgreen{
    text-align: center;
    vertical-align: middle;
    background: forestgreen;
    color:wheat;
}

.trcred{
    text-align: center;
    vertical-align: middle;
    background: indianred;
    color: whitesmoke;
}

.trcgreen{
    text-align: center;
    vertical-align: middle;
    background: forestgreen;
    color:wheat;
}
.ebookstorebutton {
    background-color: whitesmoke; 
    border: darkgray;
    border-style: solid;
    color: darkgrey;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3em;
}
.ebooksstorebutton:hover {
    background-color: darkgray; 
    border: whitesmoke;
    border-style: solid;
    color: whitesmoke;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3em;
}
input[type=text] {
    width: 50px;
}
.inputlarge[type=text] {
    width: 120px;
}
input[type=datetime] {
    width: 120px;
}
.inputred[type=text] {
    width: 120px;
    background: red;    
}
.inputgreen[type=text] {
    width: 120px;
    background: greenyellow;    
}
th{
    vertical-align: bottom;
    height: fit-content;
    width: fit-content;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;    
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}
.verticalText
{
    text-align: left;
    vertical-align: bottom;
    margin: 1px;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: text-bottom;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);                 
}
.textareared{
    background-color: red; 
    border: red;
    border-style: solid;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 1em;
}
.textareagreen{
    background-color: aquamarine; 
    border: aquamarine;
    border-style: solid;
    color: black;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 1em;
}
.textareamessage{
    background-color: red; 
    border: red;
    border-style: solid;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 1em;
}
.pic-container {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}
.tab-container {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}
select{
   background: transparent;
   width: 100px;
   padding: 0px;
   font-size: 12px;
   line-height: 1;
   height: 23px;
   }
